.projects {
    display: flex;
    flex-direction: row;
}

.project-photo {
    width: 800px;
}
.project-photo img {
    width: 700px;
    padding: 50px;
}

.project-description {
    flex: 1;
    padding: 50px;
}

.Github {
    width: 200px;
    margin: 50px;
}
.Github button {
    width: 100px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.Github button:hover {
    background-color: white;
    color: black;
}